.bodyContainer {
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loginContainer {
  flex: 1;
  border: solid 1px black;
  margin: 10%;
  border-radius: 10px;
}

.loginTitle {
  font-size: 30px;
  font-weight: bolder;
  padding: 0 30px;
}

.loginForm {
  /*border: 1px solid black;*/
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.certificateTitle {
  padding: 10px 20px;

}

.certificateContent {
  /*background: lightslategray;*/
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.loginLeft {
  margin: auto;
  width: 50%;
  border-right: 1px solid black;
}

.loginCertificate {
  margin: auto;
  width: 50%;
}

.certificate {
  margin: 0 50px;
}
.title {
  margin-bottom: 50px;
}

.form {
  margin: auto;
  text-align: center;
  align-items: center;
  width: 30%;
}

.loginItem {
  height: 260px;
}
