.bodyContainer {
  height: 100%;
}

.loginContainer {
  min-width: 1000px;
  width: 1200px;
  border: solid 1px black;
  border-radius: 20px;
  height: 500px;
  margin: 10% auto;
}

.loginItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loginTitle {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bolder;
  padding: 0 30px;
}

.loginForm {
  min-width: 800px;
  width: 800px;
}
