.bodyContainer {
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loginTitle{
  margin-top: 50px;
}

.loginContainer {
  flex: 1;
  border: solid 1px black;
  margin: 10%;
  border-radius: 10px;
  min-width: 800px;
}

.loginTitle {
  font-size: 30px;
  font-weight: bolder;
  padding: 0 30px;
}

.loginForm {
  /*border: 1px solid black;*/
  display: flex;
  height: 100%;
  min-width: 800px;
}

.certificateTitle {
  padding: 10px 20px;
}

.certificateContent {
  /*background: lightslategray;*/
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.loginLeft {
  margin: auto;
  display: flex;
  justify-content: center;
}

.loginCertificate {
  margin: auto;
  width: 50%;
}

.certificate {
  margin: 0 50px;
}

.title {
  margin-bottom: 50px;
}

.form {
  margin: auto;
  text-align: center;
  align-items: center;
  width: 30%;
}

.loginItem {
  min-width: 600px;
  max-width: 50%;
  margin: 0;
}
